{% extends 'base.html.twig' %}

{% block title %}Edit GameUser{% endblock %}

{% block body %}
    <h1>Edit GameUser</h1>

    {{ include('game_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_game_user_index') }}">back to list</a>

    {{ include('game_user/_delete_form.html.twig') }}
{% endblock %}
