.screenContainer{
    display: flex;
    flex-wrap: wrap;

}
.screenContainer>div>img{
    height: 300px;
}
.screenContainer{
    margin-top: 400px;
    background: rgba(15, 14, 19, 0.7); 
    padding:50px;
    -webkit-backdrop-filter: blur(40px); /* Utilisation du préfixe -webkit- pour le support WebKit */
    backdrop-filter: blur(40px);
    padding-bottom:400px;
}
.bg-image>img{
    height: 500px;
}
.title{
    margin-bottom: 400px;
}
.emptyHeader{
    
}