.screenContainer{
    display: flex;
    flex-wrap: wrap;

}
.screenContainer>div>img{
    height: 100px;
}
.screenContainer{
   
    background: rgba(15, 14, 19, 0.7); 
    padding:50px;
    -webkit-backdrop-filter: blur(40px); /* Utilisation du préfixe -webkit- pour le support WebKit */
    backdrop-filter: blur(40px);
    padding-bottom:400px;
    width:100%;
}
.bg-image>img{
    height: 500px;
}
.title{
    margin-bottom: 200px;
}


.content{
    width:100%;
}
.img-size{
    /* 	padding: 0;
        margin: 0; */
        height: 450px;
        width: 700px;
        background-size: cover;
        overflow: hidden;
    }
    .modal-content {
       width: 700px;
      border:none;
    }
    .modal-body {
       padding: 0;
    }
    
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    
    }    
.content{
    background-size:contain;
    width: 100%;
}