{% extends 'base.html.twig' %}

{% block title %}Project Masterpiece{% endblock %}

{% block body %}
<div class="header">
    <div class="gameCard">
        <div>
        <img src="">
        </div>
        <div>
            <h2>{{game.title}}</h2>
            <p>{{game.metacritics}}<p>
        </div>
        <div>

        </div>
    </div>
</div>
{% endblock %}
