<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="navBar">
        <h3>TOP</h3>
        <a href=""><h4>Best of the Year<h4></a>
        <a href=""<h4>Popular in 2022</h4></a>
        <h3>New releases</h3>
        <a href=""><h4>Last 30 days<h4></a>
        <a href=""><h4>This week</h4></a>
        <a href=""><h4>Next Month<h4></a>
        <h3>Genres</h3>
        <a href=""><h4>Action<h4></a>
        <a href=""><h4>Strategy</h4></a>
        <a href=""><h4>RPG<h4></a>
        <a href=""><h4>Shooter<h4></a>
        <a href=""><h4>Adventure</h4></a>
        <a href=""><h4>Puzzle<h4></a>
        <a href=""><h4>Racing<h4></a>
        <a href=""><h4>Sports</h4></a>
        <h3>Platforms</h3>
         <a href=""><h4>Puzzle<h4></a>
        <a href=""><h4>Racing<h4></a>
        <a href=""><h4>Sports</h4></a>
         <a href=""><h4>Puzzle<h4></a>
         
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
